.container {
  height: 100%;
  position: fixed;
}
.listsContainerContent {
  width: 111%;
  margin: 4rem 0 0 0;
  /* border: 1px solid white; */
  padding: 1.5rem 0 0 0;
  overflow: hidden;
  overflow-y: scroll;
  height: 90vh;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0 1rem 0.8rem;
  /* width: 80%; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.195);
}
.input {
  border: 1px solid rgba(255, 255, 255, 0.195);
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 0.53rem 1.3rem 0.53rem 2.2rem;
  cursor: pointer;
  background: #1f1f1f;
}
.searchIcons {
  cursor: pointer;
  position: relative;
  z-index: 1;
  left: 1.65rem;
  opacity: 0.9;
}
.listsWrapper {
  /* border: 1px solid white; */
  left: 2.1rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  position: relative;
  top: 1.8rem;
}
.listTitle {
  opacity: 0.8;
}
.itemsWrapper {
  position: relative;
  top: 0.65rem;
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}
.itemsLists {
  text-overflow: ellipsis;
  font-size: 0.95rem;
  opacity: 0.65;
  font-weight: 500;
}
.itemsLists.active {
  opacity: 1;
  font-weight: 600;
}
.itemsLists:hover {
  opacity: 1;
}
.menuWrapper {
  display: none;
}
.closeBtnWrapper {
  display: none;
}

/* Media Queries */
/* Desktop */
@media screen and (width >= 1600px) {
  .wrapperContent {
    margin: 4.5rem 0rem 0 9rem;
    width: 68%;
  }
}
@media screen and (width >= 1920px) {
  .wrapperContent {
    margin: 4.5rem 0rem 0 12rem;
    width: 64%;
  }
}

/* Tablet */
@media screen and (width <= 884px) {
  .wrapperContent {
    margin: 5rem 0rem 0 0rem;
  }
  .listsContainerContent {
    width: 113%;
  }
}

/* Mobile */
@media screen and (width <= 428px) {
  .wrapperContent {
    margin: 0rem 0rem 0 0rem;
  }
  .container {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .listsContainerContent {
    margin: -0rem 0 0 0rem;
  }
  .inputContainer {
    top: 0;
    background-color: #000000;
    position: fixed;
    z-index: 2;
  }
  .inputWrapper {
    position: relative;
    top: 1.5rem;
    background-color: #000000;
    z-index: 2;
    width: 68vw;
  }
  .listsContainer {
    z-index: 99;
    background-color: #000000d2;
    width: 68vw;
    border-right: 1px solid rgba(255, 255, 255, 0.38);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  .listsWrapper {
    width: 60%;
    left: 2.1rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: relative;
    top: 4.8rem;
    z-index: 1;
  }
  .menuWrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.195);
    position: fixed;
    position: relative;
    display: flex;
    top: 4.1rem;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
    padding: 0 2.1rem 0.9rem 2.1rem;
    width: 100%;
  }
  .menuText {
    font-size: 0.95rem;
  }
  .closeBtnWrapper {
    z-index: 3;
    position: absolute;
    top: 1.7rem;
    right: 1.2rem;
    cursor: pointer;
    display: block;
  }
  .liststOpen {
    transform: translateX(-0%);
  }
  .listsClose {
    transform: translateX(-200%);
  }
}
@media screen and (width <= 414px) {
  .closeBtnWrapper {
    z-index: 3;
    position: absolute;
    top: 1.7rem;
    right: 1.05rem;
    cursor: pointer;
    display: block;
  }
}
@media screen and (width <= 393px) {
  .listsContainer {
    z-index: 99;
    height: 100vh;
    width: 72%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  .inputWrapper {
    width: 125%;
  }
}
@media screen and (width <= 362px) {
  .inputWrapper {
    width: 120%;
  }
  .listsContainer {
    z-index: 99;
    height: 100vh;
    width: 85%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  .closeBtnWrapper {
    z-index: 3;
    position: absolute;
    top: 1.7rem;
    right: 1.1rem;
    cursor: pointer;
    display: block;
  }
}
@media screen and (width <= 320px) {
  .listsContainer {
    z-index: 99;
    height: 100vh;
    width: 88%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
}
