.componentWrapper {
  display: flex;
  justify-content: space-between;
  padding: 4rem 11rem;
  align-items: center;
  height: 90vh;
  gap: 3rem;
}
.contentComponentWrapper {
  flex: 1.25;
  display: flex;
}
.headComponentWrapper {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.componentTitle {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  color: #e7c4eb;
}
.componentTitle::before {
  content: "Worried about the cost?";
  padding: 0.4rem;
  z-index: 0;
  position: absolute;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #e7c4eb;
  opacity: 0.8;
}
.componentDescription {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 90%;
  opacity: 0.75;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
}
.secBtn {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.276);
  width: 7.5rem;
  border-radius: 5px;
  background-color: #121212;
  height: 2.4rem;
  transition: all 0.2s;
  font-size: 0.87rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-decoration: line-through red 1.5px;
  cursor: no-drop;
}
.secBtn:hover {
  background-color: none;
}

/* Media Queries */
/* Desktop */
@media screen and (width >= 1920px) {
  .componentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 10rem;
    height: 55vh;
    gap: 0rem;
  }
}
@media screen and (width >= 1600px) {
  .componentWrapper {
    display: flex;
    justify-content: space-between;
    padding: 4rem 12rem;
    align-items: center;
    height: 55vh;
    gap: 0rem;
  }
  .contentComponentWrapper {
    flex: 1.73;
    display: flex;
  }
  .headComponentWrapper {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }
  .componentTitle {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: #e7c4eb;
  }
  .componentDescription {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 85%;
    opacity: 0.75;
    letter-spacing: 0.5px;
    font-size: 1.05rem;
  }
  .secBtn {
    width: 7.65rem;
    height: 2.55rem;
    font-size: 0.89rem;
  }
}
@media (width >= 1600px) and (height >= 1080px) {
  .componentWrapper {
    display: flex;
    justify-content: space-between;
    padding: 4rem 14.5rem;
    align-items: center;
    height: 60vh;
    gap: 0rem;
  }
  .secBtn {
    width: 7.65rem;
    height: 2.55rem;
    font-size: 0.89rem;
  }
}

/* Tablet */
@media screen and (width <= 1280px) {
  .componentWrapper {
    display: flex;
    justify-content: space-between;
    padding: 4rem 9.8rem;
    align-items: center;
    gap: 3rem;
    height: 85vh;
    width: 98.7vw;
  }
  .componentDescription {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 85%;
    opacity: 0.75;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
  }
  .contentComponentWrapper {
    flex: 1.25;
    display: flex;
  }
  .headComponentWrapper {
    flex: 1.4;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }
}
@media screen and (width <= 884px) {
  .contentComponentWrapper {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    rotate: -0.4deg;
  }
  .componentWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 6.5rem 11rem;
    align-items: center;
    height: 67vh;
    gap: 1.5rem;
  }
  .componentTitle {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #e7c4eb;
  }
  .componentDescription {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 75%;
    opacity: 0.75;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
  }
}
@media screen and (width <= 800px) {
  .componentWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 7rem 11rem;
    align-items: center;
    height: 60vh;
    gap: 1.5rem;
  }
}
@media screen and (width <= 768px) {
  .componentWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 7.2rem 11rem;
    align-items: center;
    height: 80vh;
    gap: 1.5rem;
  }
}

/* Mobile */
@media screen and (width <= 428px) {
  .componentWrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5rem 2.5rem 0rem 2.5rem;
    align-items: center;
    height: 76vh;
    gap: 1.5rem;
    overflow: hidden;
  }
  .contentComponentWrapper {
    width: 100vw;
    overflow: hidden;
    rotate: 0.7;
    transform: translateX(2rem);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px rgba(255, 255, 255, 0.4);
    position: relative;
    z-index: -1;
  }
  .componentTitle {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 1.55rem;
    color: #e7c4eb;
  }
  .componentDescription {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 90%;
    opacity: 0.75;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
  }
}
@media screen and (width <= 414px) {
  .componentDescription {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 85%;
    opacity: 0.75;
    letter-spacing: 0.5px;
    font-size: 0.83rem;
  }
}
@media screen and (width <= 393px) {
  .componentWrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4.8rem 2.5rem 0rem 2.5rem;
    align-items: center;
    height: 78vh;
    gap: 1.5rem;
    overflow: hidden;
  }
  .componentTitle {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 1.45rem;
    color: #e7c4eb;
  }
  .componentDescription {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 85%;
    opacity: 0.75;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
  }
}
@media screen and (width <= 375px) {
  .componentWrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4.2rem 1.8rem 0rem 1.8rem;
    align-items: center;
    height: 80vh;
    gap: 1.5rem;
    overflow: hidden;
  }
  .contentComponentWrapper {
    width: 100vw;
    overflow: hidden;
    rotate: 0.7;
    transform: translateX(1.75rem);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px rgba(255, 255, 255, 0.4);
    position: relative;
    z-index: -1;
  }
}
@media screen and (width <= 362px) {
  .componentDescription {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 95%;
    opacity: 0.75;
    letter-spacing: 0.5px;
    font-size: 0.74rem;
  }
}
@media (width <= 362px) and (height <= 780px) {
  .componentWrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 3.5rem 1.8rem 0rem 1.8rem;
    align-items: center;
    height: 90vh;
    gap: 1.5rem;
    overflow: hidden;
  }
  .componentTitle {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 1.36rem;
    color: #e7c4eb;
  }
}
@media screen and (width <= 320px) {
  .componentWrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4.2rem 1.8rem 0rem 1.8rem;
    align-items: center;
    height: 115vh;
    gap: 1.5rem;
    overflow: hidden;
  }
  .componentTitle {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 1.32rem;
    color: #e7c4eb;
  }
  .componentDescription {
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 95%;
    opacity: 0.75;
    letter-spacing: 0.5px;
    font-size: 0.72rem;
  }
}
