@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: "Hero";
  src: url("../../public/fonts/Heroeau/hero.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("../../public/fonts/FiraCode/FireCode.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Plus";
  src: url("../../public/fonts/plus/PlusJakartaSans-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Plus";
  src: url("../../public/fonts/plus/PlusJakartaSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Plus";
  src: url("../../public/fonts/plus/PlusJakartaSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../../public/fonts/Roboto/RobotoMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --method: #44c1fb;
  --string: #94e060;
  --parentheses: #fff;
  --GET: #0e9b71;
  --POST: #0272d9;
  --PATCH: purple;
  --DELETE: #cc3743;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ead4ed;
  font-family: "Plus Jakarta Sans", sans-serif;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  border: none;
  scroll-padding-top: 6rem;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: "Fira Code", monospace;
}

pre {
  border: 1px solid rgba(255, 255, 255, 0.13);
}

code span {
  font-family: "Fira Code", monospace;
}

.dark-scheme {
  color-scheme: dark;
}

*::selection {
  background: #ead4ed;
  color: black;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
}
th,
td {
  padding: 6.5px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.195);
}

hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

h1 a::before {
  content: "#";
  opacity: 0;
  transition: opacity 0.2s;
  text-decoration: none;
  position: absolute;
  margin: 0 0 0 -2.3rem;
  width: 3%;
  user-select: none;
}
h1:hover a::before {
  content: "#";
  text-decoration: none;
  position: absolute;
  margin: 0 0 0 -2.3rem;
  width: 3%;
  opacity: 1;
  user-select: none;
}
h2 a::before {
  user-select: none;
  content: "#";
  text-decoration: none;
  position: absolute;
  opacity: 0;
  margin: 0 0 0 -1.8rem;
  width: 3%;
  transition: opacity 0.2s;
}
h2:hover a:before {
  user-select: none;
  content: "#";
  text-decoration: none;
  position: absolute;
  opacity: 1;
  margin: 0 0 0 -1.8rem;
  width: 3%;
}

@media screen and (width <= 428px) {
  h1 a::before {
    content: "#";
    opacity: 0;
    transition: opacity 0.2s;
    text-decoration: none;
    position: absolute;
    margin: 0 0 0 -2.2rem;
    width: 3%;
    user-select: none;
  }
  h1:hover a::before {
    content: "#";
    text-decoration: none;
    position: absolute;
    margin: 0 0 0 -2.2rem;
    width: 3%;
    opacity: 1;
    user-select: none;
  }
  h2 a::before {
    user-select: none;
    content: "#";
    text-decoration: none;
    position: absolute;
    opacity: 0;
    margin: 0 0 0 -1.6rem;
    width: 3%;
    transition: opacity 0.2s;
  }
  h2:hover a:before {
    user-select: none;
    content: "#";
    text-decoration: none;
    position: absolute;
    opacity: 1;
    margin: 0 0 0 -1.6rem;
    width: 3%;
  }
}

.list-li::before {
  content: "-";
  margin: 0 6px 0 0;
}
